@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main .page-area {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: End;
  align-items: center;
  margin-top: 40px;
}
main .page-area .page {
  height: 20px;
  padding-right: 5%;
}
main .page-area .page a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
main .page-area .page a:hover {
  border-bottom: solid black;
  transition: 0.1s linear;
}
main .logo-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 148px 0;
}
main .logo-area .logo {
  width: 900px;
  height: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(107, 78, 38);
  font-size: 2rem;
}
main .logo-area .logo .logo-img {
  width: 434px;
  height: 100%;
  background-color: #7e7e7e;
}
main .logo-area .logo .logo-text {
  width: 330px;
  height: 100%;
  background-color: #901111;
  color: black;
}
main .banner-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
main .banner-area .banner {
  width: 1091px;
  height: 505px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #969696;
  color: rgb(107, 78, 38);
  font-size: 2rem;
}
main .slogan-area {
  width: 100%;
  height: 613px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 120px 0;
  background-color: #969696;
}
main .slogan-area .slogan-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 24px;
  position: absolute;
  z-index: 1;
}
main .slogan-area .slogan-oval1 {
  width: 646px;
  height: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #7e7e7e;
  border-radius: 50%;
}
main .slogan-area .slogan-oval1 .slogan-oval2 {
  width: 587.97px;
  height: 235.73px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 1px solid black;
  background-color: #969696;
  border-radius: 50%;
}
main .history-area {
  width: 100%;
  height: 1480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .history-area .cordon-area {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0;
}
main .history-area .cordon-area .cordon-story {
  width: 45%;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  color: black;
  font-size: 2rem;
}
main .history-area .cordon-area .vl {
  width: 1px;
  height: 500px;
  border: 1px solid #242424;
  background-color: #7e7e7e;
}
main .history-area .cordon-area .cordon-graduate {
  width: 45%;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightsteelblue;
  color: black;
  font-size: 2rem;
}
main .history-area .brand-area {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0;
}
main .history-area .brand-area .brand-story {
  width: 45%;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  color: black;
  font-size: 2rem;
}
main .history-area .brand-area .vl {
  width: 1px;
  height: 500px;
  border: 1px solid #242424;
  background-color: #7e7e7e;
}
main .history-area .brand-area .brand-picture {
  width: 45%;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightsteelblue;
  color: black;
  font-size: 2rem;
}/*# sourceMappingURL=about.css.map */