@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif TC", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 0px;
}

body {
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Noto Serif TC";
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  position: relative;
  top: 103px;
  width: 100%;
}
main .banner {
  width: 100%;
  height: 1029px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107, 78, 38);
  font-family: "Noto Serif TC";
  font-size: 3rem;
  background-color: #121212;
}
main .product-showcase {
  width: 100%;
  height: 1029px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(107, 78, 38);
  font-family: "Noto Serif TC";
  font-size: 3rem;
  background-color: #dcdcdc;
  overflow: hidden;
}
main .product-showcase .see-through-style {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
main .product-showcase .see-through-style:hover {
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform: scale(1.5);
}
main .product-showcase .see-through1 {
  background-color: #969696;
  top: 400px;
  left: 100px;
}
main .product-showcase .see-through2 {
  background-color: #969696;
  left: 180px;
  top: 50px;
}
main .product-showcase .see-through3 {
  background-color: #969696;
  top: 90px;
  right: 400px;
}
main .product-showcase .profile {
  width: 709px;
  height: 278px;
  position: absolute;
  top: 217px;
  left: 335px;
  background-color: #c2c2c2;
}
main .product-showcase .description {
  position: absolute;
  top: 680px;
  left: 337px;
  background-color: #969696;
}
main .product-showcase .description .title {
  position: relative;
  padding-top: 48px;
}
main .product-showcase .description .title .text {
  position: absolute;
  top: 0;
  font-size: 40px;
  z-index: 1;
}
main .product-showcase .description .title .bg {
  position: absolute;
  top: 0;
  left: -48px;
  color: #c2c2c2;
  z-index: 0;
}
main .product-showcase .description p {
  width: 600px;
  height: auto;
  padding-top: 40px;
  font-size: 16px;
}
main .product-showcase .rotate-img {
  width: 812px;
  height: 812px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: url("../img/cake.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: -406px;
  translate: 0 -50%;
  border-radius: 50%;
  background-color: #c2c2c2;
}
main .new-product {
  width: 100%;
  height: 775px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(107, 78, 38);
  font-family: "Noto Serif TC";
  font-size: 3rem;
  background-color: #121212;
}
main .new-product img {
  width: 1098px;
  height: 100%;
  background-color: #242424;
}
main .new-product .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex: 1;
  padding-left: 108px;
  padding-right: 72px;
  border: 4px solid rgb(107, 78, 38);
}
main .new-product .text .title {
  width: 403px;
  height: 118px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
main .new-product .text .title h4 {
  z-index: 1;
}
main .new-product .text .title .bg {
  width: 403px;
  height: 118px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  left: -60px;
  color: #242424;
  font-size: 72px;
  z-index: 0;
}
main .new-product .text p {
  font-size: 16px;
}
main .new-product .text button {
  margin-top: 100px;
  padding: 12px 18px;
  color: rgb(107, 78, 38);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #000;
  cursor: pointer;
}
main .new-product .text button:hover {
  outline: 4px solid #242424;
}
main .product-series {
  width: 100%;
  height: 1029px;
  color: rgb(107, 78, 38);
  font-family: "Noto Serif TC";
  font-size: 3rem;
  background-color: #dcdcdc;
}
main .product-series .text-roll {
  width: 100%;
  height: 111px;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}/*# sourceMappingURL=index.css.map */