@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap");
@import url("./_/_mixin.scss");
@import url("./_/_variable.scss");
@keyframes test {}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif TC", sans-serif;
}

html ::-webkit-scrollbar {
  width: 0px;
}

body {
  width: 100%;
  height: auto;
  position: relative;
}

header {
  width: 100%;
  height: 103px;
  position: fixed;
  top: 0;
  border-top: 7px solid #1370a5;
  background-color: #dcdcdc;
  z-index: 3;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  background-color: #c2c2c2;
}
header nav .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
  width: 135px;
  background-color: gray;
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: 50%;
  z-index: 100;
}
header nav .nav-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  flex: 1;
  padding: 0 28px;
  background-color: #939393;
}
header nav .nav-btns a ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .nav-btns a + a {
  margin-left: 12px;
}
header nav .nav-btns .nav-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4px 8px;
  text-decoration: none;
  color: rgb(107, 78, 38);
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 1px;
  transition: 0.3s ease;
  z-index: 2;
}
header nav .nav-btns .nav-style:hover {
  background-color: #fff;
}
header nav .nav-btns .nav-style#order .order-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  list-style: none;
  display: none;
  line-height: 40px;
  border: 1px black solid;
  background-color: #eee;
}
header nav .nav-btns .nav-style#order:hover .order-menu {
  display: block;
  width: 100%;
}
header nav .nav-btns .nav-style#order:hover .order-menu li:hover {
  background-color: #000;
  color: #eee;
}
header nav .nav-btns:after {
  content: "";
  position: absolute;
  right: 0;
  height: 36px;
  border: 2px solid #242424;
}
header nav .social-media-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 16px 0 32px;
  background-color: #a9a9a9;
}
header nav .social-media-area a + a {
  margin-left: 12px;
}
header nav .social-media-area .social-style {
  width: 44px;
  height: 44px;
}
header nav .social-media-area #facebook {
  width: 40px;
  height: 40px;
  background-image: url("../img/FB.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  scale: 1;
}
header nav .social-media-area #facebook:hover {
  scale: 1.15;
}
header nav .social-media-area #instagram {
  width: 38px;
  height: 38px;
  background-image: url("../img/IG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s ease;
  scale: 1;
}
header nav .social-media-area #instagram:hover {
  scale: 1.15;
}
header .ham-icon,
header #toggle_menu {
  display: none;
}
header .pagination {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 100%;
}
header .pagination .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(50% + 720px - 67px);
  height: 100%;
  padding: 0 10%;
  background-color: #000;
  z-index: 1;
}
header .pagination .content a {
  color: #901111;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 468px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #969696;
  color: rgb(107, 78, 38);
}
footer .information {
  position: absolute;
  top: 50%;
  left: 18%;
  translate: 0 -50%;
  padding: 20px;
  font-size: 1rem;
  background-color: #7e7e7e;
}
footer .information #footer_title {
  width: 261px;
  height: 87px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(107, 78, 38);
  background-color: #242424;
}
footer .information .text {
  background-color: #c2c2c2;
}
footer .information .text div {
  padding-top: 20px;
}
footer .information .text i {
  padding-right: 20px;
  font-size: 20px;
}
footer .map {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 12px -50%;
  padding: 12px;
}
footer .map iframe {
  width: 624px;
  height: 313px;
  border: 0;
  border-radius: 40px;
}
footer .copy-right {
  width: 350px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  translate: -50% 0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (max-width: 720px) {
  header {
    position: relative;
  }
  header nav {
    padding: 0 20px;
  }
  header nav .nav-logo {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
  }
  header nav .nav-btns,
header nav .social-media-area {
    display: none;
  }
  header .ham-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-size: 3rem;
    z-index: 20;
  }
  header #ham_icon:checked ~ #toggle_menu {
    display: block;
    visibility: visible;
  }
  header #toggle_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    visibility: hidden;
    background-color: rgba(131, 105, 54, 0.5);
  }
  .pagination .content {
    width: 100%;
    color: white;
  }
  footer .information,
footer .map {
    position: relative !important;
    top: 0;
    left: 0;
    translate: 0 0;
  }
  #phone_Ham:checked + .phone-ham-list {
    visibility: visible;
    height: 100vh;
    width: 100%;
  }
  .abc {
    font-size: 40px;
    font-weight: regular;
    font-family: gegegegege;
    color: black;
  }
}/*# sourceMappingURL=nav&footer.css.map */