@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');


// -- Define variable --
$grey-9: #dcdcdc;
$grey-8: #c2c2c2;
$grey-7: #969696;
$grey-6: #7e7e7e;
$grey-2: #242424;
$grey-1: #121212;
$redwine: #901111;
$logo_color: rgb(141, 215, 204);
$darkgold: rgb(107, 78, 38);

// -- End of variable --

// -- animation
@keyframes test {}

// -- Define mixin --
@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

// width, height 
@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin flex-row($main, $sub) {
    display: flex;
    justify-content: $main;
    align-items: $sub;
}

// justify-content, align-items
@mixin flex-col($main, $sub) {
    display: flex;
    flex-direction: column;
    justify-content: $main;
    align-items: $sub;
}

// justify-content, align-items
@mixin image($uri) {
    background-image: url($uri);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin animation($name, $time, $count, $funtion) {
    animation-name: $name;
    animation-duration: $time;
    animation-iteration-count: $count;
    animation-timing-function: $funtion;
}

@mixin transition($time, $dealy, $funtion) {
    transition-duration: $time;
    transition-delay: $delay;
    transition-timing-function: $funtion;

}

// -- End of mixin -- 
main {
    .page-area {
        @include dimension(100%, 50px);
        // background-color: $grey-6;
        margin-top: 40px;

        @include flex-row(End, center);

        .page {
            height: 20px;
            // background-color: $grey-7;
            padding-right: 5%;

            a {
                text-decoration: none;
                border-bottom: 2px solid transparent;

                // color: black;
                &:hover {
                    border-bottom: solid black;
                    transition: 0.1s linear;
                }
            }
        }

    }

    .logo-area {
        @include dimension(100%, auto);
        @include flex-row(center, center);
        padding: 148px 0;
        // background-color: $grey-7;

        .logo {
            @include dimension(605px, 126px);
            @include flex-row(center, center);
            background-color: black;
            color: $darkgold;
            font-size: 2rem;
        }
    }

    .banner-area {
        @include dimension(100%, auto);
        @include flex-row(center, center);
        margin-bottom: 120px;
        // background-color: $grey-7;

        .banner {
            @include dimension(1229px, 565px);
            @include flex-row(center, center);
            background-color: $grey-7;
            color: $darkgold;
            font-size: 2rem;
        }
    }

    .slogan-area {
        @include dimension(100%, 613px);
        @include flex-row(center, center);
        padding: 120px 0;
        // background-color: $grey-7;

        .slogan {
            @include dimension(917px, 373px);
            @include flex-row(center, center);
            background-color: $grey-6;

            .slogan-text {
                @include flex-row(center, center);
                background-color: white;
                color: black;
                font-size: 1.5rem;
            }
        }
    }

    .history-area {
        @include dimension(100%, 1480px);
        @include flex-col(center, center);
        // background-color: $grey-1;

        .cordon-area {
            @include dimension(90%, auto);
            @include flex-row(space-around, center);
            padding: 120px 0;
            // background-color: $grey-6;

            .cordon-story {
                @include dimension(45%, 402px);
                @include flex-row(center, center);
                background-color: lightcyan;
                color: black;
                font-size: 2rem;
            }
            .vl {
                @include dimension(1px, 500px);
                border: 1px solid $grey-2;
                background-color: $grey-6;
            }
            .cordon-graduate {
                @include dimension(45%, 402px);
                @include flex-row(center, center);
                background-color: lightsteelblue;
                color: black;
                font-size: 2rem;
            }
        }

        .brand-area {
            @include dimension(90%, 50%);
            @include flex-row(space-around, center);
            padding: 120px 0;
            // background-color: $grey-8;

            .brand-story {
                @include dimension(45%, 402px);
                @include flex-row(center, center);
                background-color: lightcyan;
                color: black;
                font-size: 2rem;
            }
            .vl {
                @include dimension(1px, 500px);
                border: 1px solid $grey-2;
                background-color: $grey-6;
            }
            .brand-picture {
                @include dimension(45%, 402px);
                @include flex-row(center, center);
                background-color: lightsteelblue;
                color: black;
                font-size: 2rem;
            }
        }
    }

}