@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');
// -- Define variable --
$grey-9: #dcdcdc;
$grey-8: #c2c2c2;
$grey-7: #969696;
$grey-6: #7e7e7e;
$grey-2: #242424;
$grey-1: #121212;
$redwine: #901111;
$logo_color: rgb(141, 215, 204);
$darkgold: rgb(107, 78, 38);
// -- End of variable --

// -- Define mixin --
@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

// width, height 
@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin flex-row($main, $sub) {
    display: flex;
    justify-content: $main;
    align-items: $sub;
}

// justify-content, align-items
@mixin flex-col($main, $sub) {
    display: flex;
    flex-direction: column;
    justify-content: $main;
    align-items: $sub;
}

// justify-content, align-items
@mixin image($uri) {
    background-image: url($uri);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin keyframe($keyframe_name, $keyframe_duration, $keyframe_count, $keyframe_time_function) {
    animation-name: $keyframe_name;
    animation-duration: $keyframe_duration;
    animation-iteration-count: $keyframe_count;
    animation-timing-function: $keyframe_time_function;
}

@mixin transition($transition_time, $transition_dealy, $transition_time_funtion) {
    transition-duration: $transition_time;
    transition-delay: $transition_dealy;
    transition-timing-function: $transition_time_funtion;

}

// -- End of mixin --

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', sans-serif;
}

html {
    ::-webkit-scrollbar {
        width: 0px;
    }

    scroll-behavior: smooth;
}

body {
    @include dimension(100%, auto);
    position: relative;
    font-family: 'Noto Serif TC';
}

//---keyframe

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    25% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


//---end of keyframe


main {
    position: relative;
    top: 103px;
    width: 100%;

    .banner {
        @include dimension(100%, 1029px);
        @include flex-row(center, center);
        color: $darkgold;
        font-family: 'Noto Serif TC';
        font-size: 3rem;
        background-color: $grey-1;
    }

    .product-showcase {
        @include dimension(100%, 1029px);
        @include flex-row(center, center);
        position: relative;
        color: $darkgold;
        font-family: 'Noto Serif TC';
        font-size: 3rem;
        background-color: $grey-9;
        overflow: hidden;

        .see-through-style {
            @include dimension(100px, 100px);
            border-radius: 50%;
            position: absolute;

            &:hover {
                @include transition(0s, 0s, linear);
                transform: scale(1.5);
            }
        }

        .see-through1 {
            background-color: $grey-7;
            top: 400px;
            left: 100px;
        }

        .see-through2 {
            background-color: $grey-7;
            left: 180px;
            top: 50px;
        }

        .see-through3 {
            background-color: $grey-7;
            top: 90px;
            right: 400px;
        }


        .profile {
            @include dimension(709px, 278px);
            position: absolute;
            top: 217px;
            left: 335px;
            background-color: $grey-8;
        }

        .description {
            position: absolute;
            top: 680px;
            left: 337px;
            background-color: $grey-7;

            .title {
                position: relative;
                padding-top: 48px;

                .text {
                    position: absolute;
                    top: 0;
                    font-size: 40px;
                    z-index: 1;
                }

                .bg {
                    // @include dimension(auto, 100%);
                    position: absolute;
                    top: 0;
                    left: -48px;
                    color: $grey-8;
                    z-index: 0;
                }
            }

            p {
                @include dimension(600px, auto);
                padding-top: 40px;
                font-size: 16px;
            }
        }

        .rotate-img {
            @include dimension(812px, 812px);
            @include keyframe(rotate, 10s, infinite, linear);
            @include image('../img/cake.jpg');
            position: absolute;
            top: 50%;
            right: -406px;
            translate: 0 -50%;
            border-radius: 50%;
            background-color: $grey-8;
        }
    }

    .new-product {
        @include dimension(100%, 775px);
        @include flex-row(flex-start, center);
        color: $darkgold;
        font-family: 'Noto Serif TC';
        font-size: 3rem;
        background-color: $grey-1;

        img {
            @include dimension(1098px, 100%);
            background-color: $grey-2;
        }

        .text {
            @include flex-col(center, flex-start);
            height: 100%;
            flex: 1;
            padding-left: 108px;
            padding-right: 72px;
            border: 4px solid $darkgold;

            .title {
                @include dimension(403px, 118px);
                @include flex-row(flex-start, flex-end);
                position: relative;

                h4 {
                    z-index: 1;
                }

                .bg {
                    @include dimension(403px, 118px);
                    @include flex-row(flex-start, flex-end);
                    position: absolute;
                    left: -60px;
                    color: $grey-2;
                    font-size: 72px;
                    z-index: 0;
                }
            }

            p {
                font-size: 16px;
            }

            button {
                margin-top: 100px;
                padding: 12px 18px;
                color: $darkgold;
                font-size: 16px;
                border: none;
                border-radius: 8px;
                background-color: #000;
                cursor: pointer;

                &:hover {
                    outline: 4px solid $grey-2;
                }
            }
        }
    }

    .product-series {
        @include dimension(100%, 1029px);
        // @include flex-row(center, center);
        color: $darkgold;
        font-family: 'Noto Serif TC';
        font-size: 3rem;
        background-color: $grey-9;

        .text-roll {
            @include dimension(100%, 111px);
            display: flex;
            align-items: center;
            color: white;
            background-color: black;
        }
    }
}

// End of main 