@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');
@import url('./_/_mixin.scss');
@import url('./_/_variable.scss');
// -- Define variable --
$grey-9: #dcdcdc;
$grey-8: #c2c2c2;
$grey-7: #969696;
$grey-6: #7e7e7e;
$grey-2: #242424;
$grey-1: #121212;
$redwine: #901111;
$logo_color: rgb(141, 215, 204);
$darkgold: rgb(107, 78, 38);

// -- End of variable --
// -- animation
@keyframes test {}


// -- Define mixin --
@mixin dimension($w, $h) {
    width: $w;
    height: $h;

}

// width, height 
@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin flex-row($main, $sub) {
    display: flex;
    justify-content: $main;
    align-items: $sub;
}

// justify-content, align-items
@mixin flex-col($main, $sub) {
    display: flex;
    flex-direction: column;
    justify-content: $main;
    align-items: $sub;
}

// justify-content, align-items
@mixin image($uri) {
    background-image: url($uri);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// @mixin animation($name,$time,$count,$funtion){
//     animation-name: $name;
//     animation-duration: $time;
//     animation-iteration-count: $count;
//     animation-timing-function: $funtion;
// }

@mixin transition($time, $dealy, $funtion) {
    transition-duration: $time;
    transition-delay: $delay;
    transition-timing-function: $funtion;

}

// -- End of mixin --

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', sans-serif;
}

html {
    ::-webkit-scrollbar {
        width: 0px;
    }
}

body {
    @include dimension(100%, auto);
    position: relative;
}

header {
    @include dimension(100%, 103px);
    position: relative;
    border-top: 7px solid #1370a5;
    background-color: $grey-9;
    z-index: 1;

    nav {
        @include flex-row(flex-end, center);
        position: relative;
        max-width: 1440px;
        height: 100%;
        margin: auto;
        background-color: $grey-8;

        .nav-logo {
            @include flex-row(center, center);
            height: 135px;
            width: 135px;
            background-color: gray;
            position: absolute;
            top: 15px;
            left: 0;
            border-radius: 50%;
            z-index: 100;
        }

        .nav-btns {
            a+a {
                margin-left: 12px;
            }

            @include flex-row(flex-end, center);
            position: relative;
            height: 100%;
            flex: 1;
            padding: 0 28px;
            background-color: #939393;

            .nav-style {
                @include flex-row(center, center);
                position: relative;
                padding: 4px 8px;
                text-decoration: none;
                color: $darkgold;
                font-weight: 700;
                font-size: 1.2em;
                letter-spacing: 1px;
                transition: 0.3s ease;

                &:hover {
                    background-color: #fff;
                }

                &#order .order-menu {
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    list-style: none;
                    display: none;
                    line-height: 40px;
                    border: 1px black solid;
                    background-color: #eee;
                    // transform: translateY(-50%);
                }

                &#order:hover .order-menu {
                    display: block;
                    width: 100%;

                    & li:hover {
                        background-color: #000;
                        color: #eee;
                    }
                }
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                height: 36px;
                border: 2px solid $grey-2;
            }
        }

        .social-media-area {
            @include flex-row(center, center);
            position: relative;
            padding: 0 16px 0 32px;
            background-color: #a9a9a9;

            a+a {
                margin-left: 12px;
            }


            .social-style {
                width: 44px;
                height: 44px;
                border-radius: 50%;
            }

            #facebook {
                @include image('../img/FB.png');
                transition: .4s ease;
                scale: 1;

                &:hover {
                    scale: 1.15;
                }
            }

            #instagram {
                @include image('../img/IG.png');
                transition: .4s ease;
                scale: 1;

                &:hover {
                    scale: 1.15;
                }
            }
        }


    }

    .ham-icon,
    #toggle_menu {
        display: none;
    }
}

// End of header

.pagination {
    @include dimension(100%, 40px);
    @include flex-row(flex-end, center);
    position: absolute;
    top: 103px;

    .content {
        @include flex-row(space-around, center);
        @include dimension(calc(50% + 720px - 67px), 100%);
        padding: 0 10%;
        color: white;
        background-color: #000;
    }
}

// End of pagination 

footer {
    @include dimension(100%, 468px);
    position: relative;
    background-color: $grey-7;
    color: $darkgold;

    .information {
        position: absolute;
        top: 50%;
        left: 12%;
        translate: 0 -50%;
        padding: 16px 24px;
        font-size: 1rem;
        background-color: $grey-6;

        #footer_title {
            @include flex-row(flex-start, flex-end);
            margin-bottom: 8px;
            font-size: 1.2rem;
            border-bottom: 1px solid $darkgold;

            .zh {
                font-size: 2.2rem;
            }

            .en {
                padding: 0 0 0 8px;
                font-size: 1.6rem;
            }
        }
    }

    .map {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: 12px -50%;
        padding: 12px;

        iframe {
            @include dimension(600px, 450px);
            border: 0;
            border-radius: 10px;
        }
    }
}

// Media Query 
@media screen and (max-width: 720px) {
    header {
        position: relative;

        nav {

            padding: 0 20px;

            .nav-logo {
                @include dimension(96px, 96px);
                position: absolute;
                top: 0;
                left: 50%;
                translate: -50% 0;
            }

            .nav-btns,
            .social-media-area {
                display: none;
            }

        }

        .ham-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            font-size: 3rem;
            // background-color: rgb(48, 68, 111);
            z-index: 20;
        }

        #ham_icon:checked~#toggle_menu {
            display: block;
            visibility: visible;
        }

        #toggle_menu {
            @include dimension(100%, 100vh);
            position: fixed;
            top: 0;
            display: none;
            visibility: hidden;
            background-color: rgba(131, 105, 54, 0.5);
        }
    }

    .pagination {
        .content {
            width: 100%;
            color: white;
        }
    }

    footer {


        .information,
        .map {
            position: relative !important;
            top: 0;
            left: 0;
            translate: 0 0;
        }

        // .map {
        //     display: none;
        // }
    }


    #phone_Ham:checked+.phone-ham-list {
        visibility: visible;
        height: 100vh;
        width: 100%;
    }
}